<div>
    <form [formGroup]="formReg" (submit)="onSubmit()">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Login" formControlName="email">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
        </div>
        <button mat-flat-button color="accent">Send</button>
    </form>
</div>