<div [ngClass]="modeView">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, blanditiis? Molestias voluptatum amet, tempore corporis molestiae incidunt optio ullam. Minus officiis tempore maxime, hic eos praesentium voluptatem illo nisi eius.
  </p>
  <p appColor>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, blanditiis? Molestias voluptatum amet, tempore corporis molestiae incidunt optio ullam. Minus officiis tempore maxime, hic eos praesentium voluptatem illo nisi eius.
  </p>
</div>
<div>
  Text - <ng-container *ngIf="!show">hide</ng-container><ng-container *ngIf="show">show</ng-container>
</div>
<div [ngClass]="{'active': isActive === true, 'focus': isActive === false }" *ngIf="show">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, blanditiis? Molestias voluptatum amet, tempore corporis molestiae incidunt optio ullam. Minus officiis tempore maxime, hic eos praesentium voluptatem illo nisi eius.
</div>
<button (click)="toggleBlock()">Show/Hide</button>

<app-test appColor></app-test>