<div [class.red]="isClass">text</div>
<div [ngClass]="{'red': isClass}">text</div>
<button [disabled]="isDisabled" (click)="changeColor()">Click</button>
<button class="btn btn-primary" [disabled]="isDisabled" (click)="isClass = !isClass">Click</button>

<input [value]="text" (input)="text = $event.target.value">
{{ text }}
<input [(ngModel)]="search"> {{ search }}

<div>
  <ul class="list-group">
    <app-todo-item *ngFor="let item of todoList" [todo]="item" (donetask)="doneTask($event)"></app-todo-item>
  </ul>
</div>