<div>
  <input type="text" [(ngModel)]="search">
  <button (click)="onSearch()">Search</button>
</div>

<form #infoForm="ngForm" (submit)="onSubmit()">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" #email="ngModel" required>
    {{ email.valid | json }}
    <ng-container *ngIf="!email.valid && email.dirty">
      Field required
    </ng-container>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" required>
  </div>
  <div class="form-group">
    <select class="form-control" [(ngModel)]="user.gender" name="gender" required>
      <option></option>
      <option value="Male">Male</option>
      <option value="Famale">Famale</option>
    </select>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" name="agree" [(ngModel)]="agree" required> I agree
    </label>
  </div>
  <button class="btn btn-primary" [disabled]="!infoForm.form.valid">Send</button>
</form>
{{ infoForm.form.valid | json }}

<br><br>
<h1>Reactive form</h1>
<app-reactive-form></app-reactive-form>